.name{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

.description{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.effect{
    text-decoration: underline;
}